h1 {
  font-size: 50px;
  color: $blue;
  line-height: 1.4em;
  font-weight: 900;
  @media screen and (max-width: 992px) {
    font-size: 40px;
  }

  @media screen and (max-width: 540px) {
    font-size: 30px;
  }
}

h2 {
  color: $blue;
  font-size: 40px;
  line-height: 55px;
  font-weight: 400;
  @media screen and (max-width: 992px) {
    font-size: 30px;
    line-height: 40px;
  }
}

h3 {
  font-size: 30px;
  line-height: 49px;
  color: $blue;
}

h4 {
  font-size: 24px;
  line-height: 38px;
  color: $blue;
}

small {
  color: $blue;
  font-size: 16px;
  letter-spacing: 0.03em;
}

p {
  color: $blue;
  font-size: 18px;
  line-height: 36px;
  &.big {
    font-size: 24px;
    line-height: 1.8em;
  }
  @media screen and (max-width: 768px) {
    &.big {
      font-size: 21px;
      line-height: 1.5em;
    }
  }
}

ul {
  li {
    font-size: 16px;
    line-height: 2em;
    color: $blue;
  }
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}
