$blue: #3a486a;
$blue-click: #34415f;
$red: #ff5555;
$red-hover: #ff6666;
$red-click: #e54c4c;
$gray: #d7d9e0;
$light-gray: #edeef1;
$white: white;

$circle-dark-blue: #e2e4f0;
$circle-light-blue: #f1f3fc;
$circle-red: #ff8a8a;
$circle-orange: #fcb1a0;
$circle-yellow: #f6d2a1;
