.insta {
  display: flex;
  margin-bottom: 290px;
  &__item {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-right: 20px;
    }
    img {
      border-radius: 10px;
      object-fit: contain;
      height: auto;
      margin-bottom: 35px;
    }
    p {
      margin-bottom: 20px;
      flex-grow: 1;
    }
  }
  @media screen and (max-width: 1100px) {
    flex-direction: column;
    margin-bottom: 150px;
    &__item {
      width: 100%;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 50px;
      }
    }
  }
}
