.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $blue;
  margin-bottom: 290px;
  &__email {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 2px solid $red;
    border-radius: 45px;
    font-size: 40px;
    width: 450px;
    a {
      margin-top: 7px;
    }
  }
  &__phone {
    font-size: 22px;
    margin-top: 40px;
    &:before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url('/static/icons/phone.svg');
      margin-right: 15px;
      position: relative;
      top: 4px;
    }
  }
  @media screen and (max-width: 992px) {
    margin-bottom: 0;
    &__email {
      height: 60px;
      width: 240px;
      font-size: 20px;
      a {
        margin-top: 0px;
      }
    }
    &__phone {
      margin-top: 40px;
      font-size: 20px;
    }
  }
}
