.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .header {
    margin-top: 0;
  }
  &__member {
    &:nth-child(3) {
      margin-top: 150px;
    }
    width: 45%;
    img {
      width: 100%;
      height: auto;
    }
    h3,
    li {
      text-align: center;
    }
    h3 {
      margin: 20px 0 50px;
    }
  }
  @media screen and (max-width: 992px) {
    flex-direction: column;
    &__member {
      width: 100%;
      &:nth-child(3) {
        margin-top: 70px;
      }
      img {
        width: 80%;
        max-width: 600px;
        margin: auto;
        margin-bottom: 50px;
        display: block;
      }

      li {
        line-height: 24px;
        margin-bottom: 12px;
      }
      // padding: 0 20px;
    }
  }
}
