.hero {
  height: calc(100vh - 86px);
  display: flex;
  align-items: center;
  &__header {
    h1 {
      width: 650px;
      margin-bottom: 50px;
      font-weight: 400;
      b {
        font-weight: 900;
      }
    }
    .btn {
      width: 255px;
      padding-left: 0;
      padding-right: 0;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &__bg {
    position: absolute;
    width: 40vw;
    height: 40vw;
    border-radius: 100%;
    overflow: hidden;
    right: -10vw;
    img {
    }
  }
  &__scroll {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    cursor: pointer;
    width: 20px;
    bottom: 30px;
  }
  @media screen and (max-width: 1100px) {
    height: auto;
    flex-direction: column;
    &__header {
      display: flex;
      flex-direction: column;
      height: 100vh;
      align-items: center;
      flex-shrink: 0;
      padding-top: 110px;
      justify-content: center;
      .btn {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
      h1 {
        text-align: left;
        width: 100%;
      }
    }
    &__scroll {
      display: none;
    }
    &__bg {
      // margin-top: 90px;
      position: static;
      flex-shrink: 0;
      margin-top: 30px;
      width: 80vw;
      height: 80vw;
    }
  }
}
