.pricing {
  .header {
    margin-top: 200px;
    margin-bottom: 200px;
  }
  &__items {
    display: flex;
    &__item {
      display: flex;
      flex-direction: column;
      width: 33.33%;
      position: relative;
      background-color: $white;
      padding: 100px 10px 40px;
      &:not(:last-child) {
        margin-right: 20px;
      }
      border-radius: 20px;
      h4,
      li,
      p {
        text-align: center;
      }
      h4 {
        margin-bottom: 35px;
      }
      p {
        margin-bottom: 50px;
        span {
          font-size: 30px;
          font-weight: 900;
        }
      }
      &__icon {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: absolute;
        top: -50px;
        margin: auto;
        left: 0;
        right: 0;
        // box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        transition: fill 0.3s ease-in-out;
        svg {
          width: 100%;
          height: 100%;
        }
        &.hovered path,
        &.hovered ellipse {
          fill: $red;
        }
      }
      ul {
        flex-grow: 1;
      }
      button {
        margin-top: 50px;
      }
    }
  }
  @media screen and (max-width: 992px) {
    margin: 67px -40px;
    padding: 1px 30px;
    background: $circle-light-blue;
    position: relative;
    .header {
      margin-top: 120px;
    }
    &:before {
      content: '';
      margin: 0 -15px;
      display: block;
      width: 100%;
      height: 70px;
      position: absolute;
      top: -67px;
      background-image: url('/static/icons/circleTop.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0% 100%;
    }
    &:after {
      content: '';
      margin: 0 -15px;
      display: block;
      width: 100%;
      height: 70px;
      position: absolute;
      bottom: -67px;
      transform: rotate(180deg);
      background-image: url('/static/icons/circleTop.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0% 100%;
    }

    &__items {
      width: 100%;
      max-width: 350px;
      margin: auto;
      flex-direction: column;
      // padding: 0 15px;
      &__item {
        align-items: center;
        width: 100%;
        margin-bottom: 150px;
        &:not(:last-child) {
          margin-right: 0px;
        }
        li {
          text-align: left;
          line-height: 24px;
          margin-bottom: 8px;
        }
      }
    }
  }
}
