.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .header {
    margin-top: 0;
  }
  &__member {
    &:nth-child(3) {
      margin-top: 150px;
    }
    width: 45%;
    img {
      width: 100%;
      height: auto;
    }
    h3,
    li {
      text-align: center;
    }
    h3 {
      margin: 20px 0 50px;
    }
  }
  @media screen and (max-width: 1100px) {
    flex-direction: column;
    &__member {
      &:nth-child(3) {
        margin-top: 70px;
      }
      width: 100%;
      padding: 0 20px;
    }
  }
}
