.header {
  margin: 100px auto;
  width: cols(8);
  h1,
  p {
    text-align: center;
  }
  h1 {
  }
  p {
    margin-top: 40px;
  }
  @media screen and (max-width: 992px) {
    width: cols(9);
    margin: calc(10vw + 50px) auto calc(8vw + 50px);
  }
  @media screen and (max-width: 768px) {
    width: cols(10);
  }
  @media screen and (max-width: 540px) {
    width: 100%;
  }
}
