.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $blue;
  &__brand {
    width: 160px;
    height: 52px;
  }
  &__nav {
    font-weight: 900;
    ul {
      li {
        cursor: pointer;
        margin-bottom: 13px;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  &__contact {
    p {
      font-weight: 900;
    }
    small {
      display: block;
      line-height: 28px;
      margin-bottom: 28px;
    }
  }
  &__social {
    display: flex;
    a {
      &:not(:last-child) {
        margin-right: 15px;
      }
      &:hover {
        opacity: 1;
        .circle {
          fill: $blue;
        }
        .icon {
          fill: $white;
        }
      }
      &:active {
        .circle {
          fill: $blue-click;
        }
      }
      .circle {
        display: block;
        fill: $light-gray;
      }
      .icon {
        fill: $blue;
      }
      width: 55px;
      height: 55px;
    }
  }
  &__copywrite {
    width: 100%;
    margin: 90px 0 30px;
    text-align: center;
  }
  @media screen and (max-width: 992px) {
    flex-direction: column;
    margin: 0 20px;
    &__nav {
      margin-top: 50px;
      margin-bottom: 40px;
    }
    &__contact {
      margin-bottom: 80px;
    }
    &__social {
      align-self: center;
    }
    &__copywrite {
      margin-top: 50px;
      margin-bottom: 10px;
    }
  }
}
